.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  text-align: center;
  padding: 50px;
}

.home button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #007BFF;
  padding: 10px;
  color: white;
}

.navbar .site-name {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}